In [349]:
import pandas as pd
import numpy as np

In [350]:
train = pd.read_csv('train.csv')

In [351]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#dropping those columns which are not useful in prediction

In [352]:
train.drop(['PassengerId','Name','Ticket','Cabin'], axis=1, inplace=True)

In [353]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [354]:
#fill missing values

In [187]:
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [355]:
X = train.drop('Survived', axis=1)

In [356]:
y= train['Survived']

In [ ]:
#split train and test data

In [357]:
from sklearn.model_selection import train_test_split

In [358]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [359]:
X_train.shape

(712, 7)

In [ ]:
#impute filling values for Age and Embarked column

In [193]:
from sklearn.impute import SimpleImputer

In [216]:
si_mean = SimpleImputer(strategy='mean')
si_emb = SimpleImputer(strategy='most_frequent')

In [217]:
X_train_age = si_mean.fit_transform(X_train[['Age']])
X_train_emb = si_emb.fit_transform(X_train[['Embarked']])

In [218]:
X_test_age = si_mean.transform(X_test[['Age']])
X_test_emb = si_emb.transform(X_test[['Embarked']])

In [219]:
X_train_age.shape, X_test_age.shape

((712, 1), (179, 1))

In [220]:
X_train_emb.shape,X_test_emb.shape

((712, 1), (179, 1))

In [221]:
#encoding for categorical columns :Sex, Embarked

In [222]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [223]:
X_train['Sex'].value_counts()

male      467
female    245
Name: Sex, dtype: int64

In [224]:
X_test['Sex'].value_counts()

male      110
female     69
Name: Sex, dtype: int64

In [ ]:
#encoding categorical columns : Sex, Embarked

In [225]:
from sklearn.preprocessing import OneHotEncoder

In [226]:
ohe = OneHotEncoder(sparse=False,handle_unknown='ignore')
X_train_sex = ohe.fit_transform(X_train[['Sex']])
X_train_emb = ohe.fit_transform(X_train_emb)

In [227]:
X_train_sex.shape, X_train_emb.shape

((712, 2), (712, 3))

In [228]:
X_test_sex = ohe_sex.transform(X_test[['Sex']])
X_test_emb = ohe_embarked.transform(X_test_emb)

In [229]:
X_test_sex.shape, X_test_emb.shape

((179, 2), (179, 3))

In [231]:
X_train_sex.shape, X_train_emb.shape

((712, 2), (712, 3))

In [232]:
X_train.shape

(712, 7)

In [ ]:
#final dataset

In [233]:
X_train_rem = X_train.drop(columns=['Sex','Age','Embarked'], axis=1)
X_train_rem

     Pclass  SibSp  Parch      Fare
331       1      0      0   28.5000
733       2      0      0   13.0000
382       3      0      0    7.9250
704       3      1      0    7.8542
813       3      4      2   31.2750
..      ...    ...    ...       ...
106       3      0      0    7.6500
270       1      0      0   31.0000
860       3      2      0   14.1083
435       1      1      2  120.0000
102       1      0      1   77.2875

[712 rows x 4 columns]

In [234]:
X_train_rem.shape

(712, 4)

In [235]:
X_test_rem = X_test.drop(columns=['Sex','Age','Embarked'])
X_test_rem.shape

(179, 4)

In [236]:
X_train_transformed = np.concatenate((X_train_rem,X_train_age,X_train_sex,X_train_emb), axis=1)
X_test_transformed = np.concatenate((X_test_rem,X_test_age,X_test_sex,X_test_emb), axis=1)

In [237]:
X_train_transformed.shape, X_test_transformed.shape

((712, 10), (179, 10))

In [ ]:
#predicting with final dataset using Decision tree

In [238]:
from sklearn.tree import DecisionTreeClassifier

In [239]:
ds = DecisionTreeClassifier()

In [240]:
ds.fit(X_train_transformed, y_train)

DecisionTreeClassifier()

In [241]:
y_pred = ds.predict(X_test_transformed)

In [242]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.770949720670391

In [252]:
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
331       1    male  45.5      0      0   28.5000        S
733       2    male  23.0      0      0   13.0000        S
382       3    male  32.0      0      0    7.9250        S
704       3    male  26.0      1      0    7.8542        S
813       3  female   6.0      4      2   31.2750        S
..      ...     ...   ...    ...    ...       ...      ...
106       3  female  21.0      0      0    7.6500        S
270       1    male   NaN      0      0   31.0000        S
860       3    male  41.0      2      0   14.1083        S
435       1  female  14.0      1      2  120.0000        S
102       1    male  21.0      0      1   77.2875        S

[712 rows x 7 columns]

In [362]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline

In [516]:
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
331       1    male  45.5      0      0   28.5000        S
733       2    male  23.0      0      0   13.0000        S
382       3    male  32.0      0      0    7.9250        S
704       3    male  26.0      1      0    7.8542        S
813       3  female   6.0      4      2   31.2750        S
..      ...     ...   ...    ...    ...       ...      ...
106       3  female  21.0      0      0    7.6500        S
270       1    male   NaN      0      0   31.0000        S
860       3    male  41.0      2      0   14.1083        S
435       1  female  14.0      1      2  120.0000        S
102       1    male  21.0      0      1   77.2875        S

[712 rows x 7 columns]

In [631]:
# imputation transformer
trf1 = ColumnTransformer([
    ('impute_age',SimpleImputer(),[2]),
    ('impute_embarked',SimpleImputer(strategy='most_frequent'),[6])
],remainder='passthrough')

In [633]:
# #one hot encoder for Sex and Embarked column
trf2 = ColumnTransformer([
    ('ohe_sex',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1]),
    ('ohe_embarked',OneHotEncoder(sparse=False,handle_unknown='ignore'),[6])
],remainder='passthrough')

In [634]:
# Scaling
trf3 = ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,10))
])

In [635]:
from sklearn.feature_selection import SelectKBest,chi2
# Feature selection
trf4 = SelectKBest(score_func=chi2,k=8)

In [636]:
# train the model
trf5 = DecisionTreeClassifier()

In [637]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
])

In [639]:

pipe.fit(X_train,y_train)

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute_age', SimpleImputer(),
                                                  [2]),
                                                 ('impute_embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('trf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1]),
                                                 ('ohe_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [6])])),
                ('trf3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('trf4',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x7f971da29f70>)),
                ('trf5', DecisionTreeClassifier())])

In [640]:
# Code here
pipe.named_steps['trf1'].transformers_[1][1].statistics_

array(['S'], dtype=object)

In [641]:
# Display Pipeline

from sklearn import set_config
set_config(display='diagram')

In [643]:
y_pred = pipe.predict(X_test)

In [645]:
y_pred

array([1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0])

In [549]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6256983240223464